[Unit]
Description=Project Planer
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/project-plan
Environment=PORT=8080
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/project-plan/.venv/bin/gunicorn --workers 2 --threads 4 --bind 0.0.0.0:${PORT} --timeout 120 app.app:app
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
